In [9]:
for i in range (2000, 3200+1) :
    if (i%7 == 0) and ( i%5 > 0):
        print(i, end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [12]:
fn = input("Enter your First Name ") 
ln = input("Enter your Last Name ") 
print(ln + ' ' + fn)

Enter your First Name qwe
Enter your Last Name rrr
rrr qwe

In [22]:
d = 12
r = d/2
vol = 4/3*22/7*r**3
print("The Volume of the sphere is " + str(round(vol,2)))

The Volume of the sphere is 905.14

In [28]:
s = input("Enter a set of comma separated numbers ")
print(s)
l = str.split(s,sep=',')
l

Enter a set of comma separated numbers 1,22,3.45,6,88
1,22,3.45,6,88

['1', '22', '3.45', '6', '88']

In [36]:
for i in range(11):
    if i < 6:
        for j in range(i):
            print("*", end = '')
    else:
        for k in range(i,10):
            print("*" , end = '')
    print("\n")

*

**

***

****

*****

****

***

**

*

In [9]:
# same as above, In another method...
for i in range(6):
    for j in range(i):
        print("*", end = '')
    print("\n")
for k in range(4,-1,-1):
    for j in range(k):
        print("*", end = '')
    print("\n")

*

**

***

****

*****

****

***

**

*

In [22]:
s= input("Enter a Word ")
print("You have Entered " + s)
print("Reversed " + s[::-1])

Enter a Word hello
You have Entered hello
Reversed olleh

In [23]:
s = """WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens"""
print(s)

WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
its citizens